---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$background-one: #f4f4f4;
$background-two: #ffffff;
$accent-color: #3385FF;

#banner {
    font-family: 'Gloria Hallelujah', cursive;
    height: 7em;
    font-size: 3em;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    text-align: center;
    background-color: $background-one;
}

#originStory {
    background-color: $background-one;
}

.accent-bg {
    background-color: $accent-color;
}
